In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math

import acquire
import prepare
import features

from statsmodels.formula.api import ols

from sklearn.model_selection import train_test_split

from sklearn.metrics import mean_squared_error, explained_variance_score, r2_score

from sklearn.feature_selection import SelectKBest, f_regression, RFE

from sklearn.linear_model import LinearRegression, LassoLars

from sklearn.preprocessing import PolynomialFeatures

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = acquire.acquire_cache_data()

In [3]:
df.head()

,Unnamed: 0,calculatedfinishedsquarefeet,bathroomcnt,bedroomcnt,taxvaluedollarcnt
0,0,1458.0,2.0,3.0,136104.0
1,1,1421.0,1.0,2.0,35606.0
2,2,2541.0,3.0,4.0,880456.0
3,3,1650.0,2.0,3.0,614000.0
4,4,693.0,1.0,2.0,274237.0